body {
    background-image: url("black!.jpg");
    background-size: cover;
    font-family: 'Cinzel Decorative', Cursive;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    background: darkred;
    
}

h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
    color: darkred;
}

button {
    border: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Cinzel Decorative', bold;
}

button:active {
    transform: scale(0.95);
    opacity: 0.8;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: rgb(68, 3, 3);
}

#play-btn {
    display: block;
    background: darkred;
}

button {
    display: block;
    margin: 10px auto;
}
